@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('grid.css');
@import url('fonts.css');
@import url('base.css');
@import url('section-slider.css');
@import url('section-product-details.css');
@import url('section-product-ai.css');