.section-product-ai {
  position: relative;
  height: 100lvh;
  overflow: hidden;
}

.section-product-ai .section__inner {
  position: relative;
  width: 100%;
  height: 100lvh;
  padding: 0 32px;
  max-width: clamp(576px, 90lvw, 1920px);
  margin-inline: auto;
}