html,
body {
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0;
  font: var(--font-weight-base) var(--font-size-base) / var(--font-height-base)
    var(--font-family-base);
  letter-spacing: var(--font-spacing-base, 0);
  background-color: #111;
  color: #fff;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
