:root {
  --grid-container-max-width: 1920px;
  --grid-offset: 115px;
  --grid-columns-count: 12;
  --grid-column-abs-width: 77px;
}

@media only screen and (max-width: 1440px) {
  :root {
    --grid-offset: 80px;
  }
}

@media only screen and (max-width: 987px) {
  :root {
    --grid-offset: 50px;
  }
}

@media only screen and (max-width: 767px) and (orientation: landscape),
  only screen and (max-width: 576px) {
  :root {
    --grid-offset: 30px;
  }
}

:root {
  --scrollbar-width: calc((var(--vw) - var(--cw)) * 100);
  --grid-container-max-width-rem: 120rem;
  --grid-abs-offset: calc(
    50% - min(50vw, calc(var(--grid-container-max-width-rem) / 2)) +
      var(--grid-offset) +
      min(
        max(
          calc(
            (var(--grid-container-max-width-rem) / 2) - 50vw +
              (var(--scrollbar-width) / 2)
          ),
          0px
        ),
        calc(var(--scrollbar-width) / 2)
      )
  );
  --grid-width: min(
    calc(100vw - (var(--grid-offset) * 2) - var(--scrollbar-width)),
    calc(var(--grid-container-max-width-rem) - (var(--grid-offset) * 2))
  );
  --grid-column-width: calc(var(--grid-width) * 0.0455621302);
  --grid-gutter-width: calc(var(--grid-width) * 0.0412049489);
}
